/* Global styles */

body {
	font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #2b283a;
}

/* Typography */

p {
    line-height: 1.4375rem;
}

h1, h2, h3, body {
    margin: 0;
}

h1, .crypto-section {
    color: whitesmoke;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    color: #d0aaff;
}

/* Links */

a {
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

/* Buttons */

.btn {
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
}

.btn-buy {
    background-color: #5f29a3;
    color: whitesmoke;
}

.btn-about {
    background-color: whitesmoke;
    color: #5f29a3;
}

.btn-secondary {
    background-color: #f0e0ff;
    color: #5f29a3;
}

.btn:hover, .btn:active {
    background-color: #f3e885;
    color: #2b283a;
}

/* Layout */

header, .crypto-section {
    background-color: #5f29a3;
}

header, section, footer {
    padding: 45px 0;
}

footer {
    color: #5f29a3;
    text-align: center;
}

.container {
    width: 620px;
    margin: 0 auto;
}

/* Images */

.product-img {
    max-width: 100%;
    height: auto;
}

.container-imgs {
    display: flex;
    justify-content: space-between;
}

.crypto-img {
    width: 300px;
    border-radius: 4.6px;
}
