body {
	font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #2b283a;
	margin: 0;
}

header {
    background-color: #5f29a3;
    padding: 45px 0;

}

h1 {
    font-size: 2.25rem;
    color: whitesmoke;
    margin: 0;

}

h3 {
    font-size: 1.25rem;
    color: #d0aaff;
    margin: 0;

}

section {
    padding: 45px 0;
}   

.product-img {
    max-width: 100%;
    height: auto;
}
